{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container-fluid">
<h1 class="text-center category">Technology News</h1>
    <div class="row">
        {{macro.displayNews(tech)}}
    </div>
<h1 class="text-center category">General News</h1>
    <div class="row">   
        {{macro.displayNews(general)}}
    </div>
<h1 class="text-center category">Sports News</h1>
    <div class="row">
        {{macro.displayNews(sports)}}
    </div>
<h1 class="text-center category">Business News</h1>
    <div class="row">    
        {{macro.displayNews(business)}}
    </div>
<h1 class="text-center category">Entertainment News</h1>
    <div class="row">
        {{macro.displayNews(entertainment)}}
    </div>
<h1 class="text-center category">Health News</h1>
    <div class="row">
        {{macro.displayNews(health)}}
    </div>
</div>
{% endblock%}