{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}

<h2>Technology News</h2>
    <ul>
        {{macro.displayNews(tech)}}
    </ul>
<h2>General News</h2>
    <ul>
        {{macro.displayNews(general)}}
    </ul>
<h2>Sports News</h2>
    <ul>
        {{macro.displayNews(sports)}}
    </ul>
<h2>Business News</h2>
    <ul>
        {{macro.displayNews(business)}}
    </ul>
<h2>Entertainment News</h2>
    <ul>
        {{macro.displayNews(entertainment)}}
    </ul>
<h2>Health News</h2>
    <ul>
        {{macro.displayNews(health)}}
    </ul>
{% endblock%}